.info{
    /* border: 2px solid red; */
    
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}


.text_info h1{
    margin: 1rem 0;
}
.text_info h2{
    margin: 1rem 0;
}

.image_info{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .info{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
    }
}